.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CountryContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.CountryPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;

  .CountryHeader {
    display: flex;
    flex-direction: row;

    .Delete {
      width: 50px;
      height: 50px;
      margin: auto 5px auto auto;
    }
  }

  h1 {
    margin: 0;
    padding: 10px;
  }

  p {
    margin: 0;
    padding: 10px;
  }

  .PedestalContainer {
    height: 50%;
    width: 70%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 20%;
      max-height: 100%;
    }
  }
}

.worldTotal {
  text-align: center;
}

.AddCountry {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .CountryInput {
      flex-grow: 1;
    }
  }
}